<div class="row">
  <div class= "columns large-6">
<%= image_tag("trump_final.png", size: "600x600", :id => "image1") %>
<%= audio_tag("welcome.m4a", autoplay: false, controls: false, class: "myAudio1") %>
<%= audio_tag("bowel.m4a", autoplay: false, controls: false, class: "myAudio2") %>
<%= audio_tag("schoolgirl.m4a", autoplay: false, controls: false, class: "myAudio3") %>
<%= audio_tag("bang_hilary.m4a", autoplay: false, controls: false, class: "myAudio4") %>
<%= audio_tag("no_bang_hilary.m4a", autoplay: false, controls: false, class: "myAudio5") %>
<%= audio_tag("christie.m4a", autoplay: false, controls: false, class: "myAudio6") %>
<%= audio_tag("pro_life.m4a", autoplay: false, controls: false, class: "myAudioseven") %>
<%= audio_tag("rosie.m4a", autoplay: false, controls: false, class: "myAudio8") %>
<%= audio_tag("std.m4a", autoplay: false, controls: false, class: "myAudio9") %>
<%= audio_tag("lives.m4a", autoplay: false, controls: false, class: "myAudio10") %>
<%= audio_tag("great_again.m4a", autoplay: false, controls: false, class: "myAudio11") %>
<%= audio_tag("testicules.m4a", autoplay: false, controls: false, class: "myAudio12") %>
<%= audio_tag("hands.m4a", autoplay: false, controls: false, class: "myAudio13") %>
<%= audio_tag("gas.m4a", autoplay: false, controls: false, class: "myAudio14") %>
<%= audio_tag("wet_tofu.m4a", autoplay: false, controls: false, class: "myAudio15") %>
<%= audio_tag("if.m4a", autoplay: false, controls: false, class: "myAudio16") %>
<%= audio_tag("vomb_final.m4a", autoplay: false, controls: false, class: "myAudio1seven")%>
<%= audio_tag("kolonescopy.m4a", autoplay: false, controls: false, class: "myAudio18") %>
<%= audio_tag("nine.m4a", autoplay: false, controls: false, class: "myAudio19") %>
<%= audio_tag("oscar.m4a", autoplay: false, controls: false, class: "myAudio20") %>
<%= audio_tag("machine.m4a", autoplay: false, controls: false, class: "myAudio21") %>
<%= audio_tag("sink.m4a", autoplay: false, controls: false, class: "myAudio22") %>
<%= audio_tag("isis.m4a", autoplay: false, controls: false, class: "myAudio23") %>
<%= audio_tag("amex.m4a", autoplay: false, controls: false, class: "myAudio24") %>
<%= audio_tag("child_love.m4a", autoplay: false, controls: false, class: "myAudio25") %>
<%= audio_tag("dentista.m4a", autoplay: false, controls: false, class: "myAudio26") %>
<%= audio_tag("breath.m4a", autoplay: false, controls: false, class: "myAudio2seven") %>
<%= audio_tag("cosby.m4a", autoplay: false, controls: false, class: "myAudio28") %>
<%= audio_tag("looking.m4a", autoplay: false, controls: false, class: "myAudio29") %>
<%= audio_tag("hellen.m4a", autoplay: false, controls: false, class: "myAudio30") %>

</div>

<div class="columns large-6">
  <br>
  <br>
  <br>
 <h3 class="gold">
  <center>WANT TO KNOW WHAT TRUMP THINKS OF YOU?</center></h3>

   <center><button id="try_again" class="button" type="button" name="button">TRY AGAIN! </button></center>
 
</div>
</div>
<div class="centerImg">
</div>

 <p id="nametag" data-name="<%= @person.name %>"></p>
 





<script type="text/javascript">

var myRandomNumber = Math.floor(Math.random() * 24);
var array_of_functions = [
    playJoke1,
    playJoke2,
    playJoke3,
    playJoke4,
    playJoke5,
    playJoke6,
    playJoke7,
    playJoke8,
    playJoke9,
    playJoke10,
    playJoke11,
    playJoke12,
    playJoke13,
    playJoke14,
    playJoke15,
    playJoke16,
    playJoke17,
    playJoke18,
    playJoke19,
    playJoke20,
    playJoke21, 
    playJoke22,
    playJoke23,
    playJoke24,
    playJoke25
];


//array_of_functions[myRandomNumber]();

array_of_functions[24]();




function playJoke1(){
setTimeout(function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[1].play();
}, 5000);

setTimeout(function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 10000);


setTimeout(function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 7000);


}



function playJoke2(){
setTimeout(function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[2].play();
}, 3000);

setTimeout(function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");}, 13000);

setTimeout(function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 11000);

}



function playJoke3(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[3].play();
}, 3000);
setTimeout(  function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 10000);

setTimeout(function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 8000);



setTimeout(  function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
  document.getElementsByTagName("audio")[4].play();
}, 14000);



setTimeout(function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 16000);

}



function playJoke4(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[5].play();
}, 3000);
setTimeout(  function(){ 

responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 10000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 8000);

}


function playJoke5(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[6].play();
}, 3000);
setTimeout(  function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 8000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 6000);

}

function playJoke6(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[7].play();
}, 3000);
setTimeout(  function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 10000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 8000);

}




function playJoke7(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 3000);
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[8].play();
}, 7000);
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 10000);
}



function playJoke8(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[9].play();
}, 3000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 7000);

setTimeout(  function(){ 

responsiveVoice.speak(document.getElementById("nametag").dataset.name + "'s", "US English Male");

}, 10000);
}



function playJoke9(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[10].play();
}, 3000);
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 8000);
}


function playJoke10(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 3000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[11].play();
}, 9000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 13000);


}


function playJoke11(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[12].play();
}, 3000);



setTimeout(  function(){ 

$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
r
}, 9000);

setTimeout(  function(){ 

$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 11000);
}


function playJoke12(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[13].play();
}, 3000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 5000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 11000);
}


function playJoke13(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 3000);
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[14].play();
}, 8000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 11000);

}


function playJoke14(){
setTimeout(  function(){ 

$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[15].play();
}, 3000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 5500);


setTimeout(  function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 7000);



setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[16].play();
}, 13000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 19000);
}




function playJoke15(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[17].play();
}, 3000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 6000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 9000);
}



function playJoke16(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 3000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[18].play();
}, 9000);



setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 12000);

}









function playJoke17(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[19].play();

}, 3000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 9000);

setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");
}, 13000);
}


function playJoke18(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[20].play();

}, 3000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 6000);



setTimeout(  function(){ 
responsiveVoice.speak(document.getElementById("nametag").dataset.name + "'s", "US English Male");
}, 9000);


setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[21].play();

}, 14000);




setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 16000);



}


function playJoke19(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name + "'s", "US English Male");

}, 3000);
setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
  document.getElementsByTagName("audio")[22].play();

}, 9000);

setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );


}, 8000);




}





function playJoke20(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[24].play();
}, 3000);

setTimeout(  function(){ 
   $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 15000);


setTimeout(  function(){ 
   $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
  responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 18000);
}


function playJoke21(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
document.getElementsByTagName("audio")[25].play();
}, 3000);


setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 5000);


setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
  responsiveVoice.speak(document.getElementById("nametag").dataset.name + "'s", "US English Male");

}, 8000);

setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" );
  document.getElementsByTagName("audio")[26].play();
}, 13000);


setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );

}, 17000);


}


function playJoke22(){
setTimeout(  function(){
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" ); 
document.getElementsByTagName("audio")[27].play();
}, 3000);

setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
 

}, 10000);



setTimeout(  function(){ 
  responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 13000);
}


function playJoke23(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" ); 
document.getElementsByTagName("audio")[28].play();
}, 3000);
setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
  

}, 5000);

setTimeout(  function(){ 
  
  responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 8000);






setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" ); 
  document.getElementsByTagName("audio")[14].play();
}, 12000);

setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
}, 16000);

}

function playJoke24(){
setTimeout(  function(){ 
$('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" ); 
document.getElementsByTagName("audio")[29].play();
}, 3000);


setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
 

}, 6000);



setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
  responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 8000);
}




function playJoke25(){
setTimeout(  function(){ 
 $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" );
responsiveVoice.speak(document.getElementById("nametag").dataset.name, "US English Male");

}, 3000);
setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump.gif", :id => "image1" %>" ); 
  document.getElementsByTagName("audio")[23].play();

}, 9000);


setTimeout(  function(){ 
  $('#image1').attr( "src" , "<%= image_path "trump_final.png", :id => "image1" %>" ); 
  

}, 13000);
}






// Btn event listener
$(document).on("click","#try_again",function(){
  var myRandomNumber2 = Math.floor(Math.random() * 24);
  array_of_functions[myRandomNumber2]();
});








</script>